html,body{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
.split{
    height: calc(100%);
    position: fixed;
}
.left{
    width: 20%;
    background-color: rgb(193, 185, 241);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
}
.right{
    width: 76.5%;
    right: 0%;
    padding: 1.5%;
    height: calc(100%);
    overflow-y: scroll;
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 4%;
    grid-column-gap:4% ;
}
.userimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.navbar{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color:  rgb(193, 185, 241);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.btn:hover{
    background-color:  rgb(191, 147, 233);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.pagetitle{
    height: 8%;
    width: 95%;
    margin-left: 2%;
    margin-right: 5%;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    display: flex;
}
.pagehead{
    font-weight: bold;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.material-icons { 
    font-size: 10px;
    margin: 2%;
 }

 .doctor_card{
    width: 100%;
    height: 250px;
    background-color: white;
    display: flex;
    border-radius: 20px;
    margin: auto;
 }
 .leftcard{
    padding-left: 5%;
    padding-top: 5%;
    height: 100%;
    width: 45%;
    justify-content: space-evenly;
 }

 .pic{
    height: 50%;
    width: 60%;
 }

 .checked {
    color: orange;
  }

  .fa{
    font-size: 30px;
  }

  .stars{
    padding-left:15% ;
  }

  .bookbtn{
    background-color:  rgb(193, 185, 241);
    border: none;
    padding: 5%;
    margin-top: 5%;
    border-radius:20px ;
    font-weight: bold;
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.bookbtn:hover{
    background-color:  rgb(191, 147, 233);
    border: none;
    padding: 5%;
    border-radius:20px ;
    font-weight: bold;
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.details{
    padding:5%;
    width: 55%;
    border-radius: 20px;
    background-color: blanchedalmond;
    font-size: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.hide{
    display: none;
}

.show{
    display: block;
}