html,body{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
.split{
    height: calc(100%);
    position: fixed;
}
.left{
    width: 20%;
    background-color: rgb(193, 185, 241);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
}

.right{
    width: 76.5%;
    right: 0%;
    padding: 1.5%;
    height: calc(100%);
    overflow-y: scroll;
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: auto auto;
}

.userimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.navbar{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color:  rgb(193, 185, 241);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.btn:hover{
    background-color:  rgb(191, 147, 233);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.pagetitle{
    height: 8%;
    width: 95%;
    margin-left: 2%;
    margin-right: 5%;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    display: flex;
}
.pagehead{
    font-weight: bold;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.material-icons { 
    font-size: 10px;
    margin: 2%;
 }

.rating_card{
    margin-left: auto;
    margin-right:auto ;
    margin-bottom:5% ;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    height: 400px;
}

.topdet{
    height: 20%;
    width: 100%;
    background-color:  rgb(246, 224, 191);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.botdet{
    height: 70%;
    display: flex;
}
.txt{
    padding: 5%;
    margin:0%;
}


.ratings{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
 }

 .treatment_rating,.collaboration_rating,.communication_rating,.availability,.commentfordoctor{
    display: flex;
    margin: auto;
 }


 .rating {
    display: inline-block;
    position: relative;
    height: 20px;
    line-height: 50px;
    font-size: 20px;
    width: 100%;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
    height: 10px;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }

  textarea{
    margin-left:10% ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize: none;
    
  }
  .labelss{
    width: 70%;
    padding-bottom: 5%;
  }

  .lab{
    background-color:  rgb(217, 212, 244);
    margin: 8%;
    border-radius: 20px;
    padding: 3%;
    font-size: 80%;
  }