html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.split{
    height: 100%;
    position: fixed;
}

.left{
    width: 20%;
    background-color: rgb(193, 185, 241);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}
.right{
    padding-top:40px;
    width: 79.5%;
    right: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:whitesmoke;
}
.userimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.navbar{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color:  rgb(193, 185, 241);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.btn:hover{
    background-color:  rgb(191, 147, 233);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.pagetitle{
    height: 8%;
    width: 95%;
    margin-left: 2%;
    margin-right: 5%;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    display: flex;
}
.pagehead{
    font-weight: bold;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.material-icons { 
    font-size: 10px;
    margin: 2%;
 }

.card{
    height: 180px;
    width: 80%;
    background-color: white;
    margin-left: 6%;
    margin-bottom: 5%;
    display: flex;
    border-radius:20px ;
}
.leftcard{
    width: 25%;
    height: 100%;
    display: flex;
    margin: auto;
    background-color: rgb(246, 224, 191);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.midcard{
    width: 55%;
    height: 100%;
    padding-left: 3%;

}

.rightcard{
    width: 20%;
    height: 100%;
    display: flex;
    margin: auto;
    background-color: rgb(180, 238, 219);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.dateissue{
    margin: auto;
}
#buttn1,#buttn2,#buttn3,#buttn4,#buttn5,#buttn0{
    height: 100%;
    margin: auto;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#buttn1:focus,#buttn2:focus,#buttn3:focus,#buttn4:focus,#buttn5:focus,#buttn0:focus{
    height: 100%;
    margin: auto;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin: auto;
  }
  
  /* The Close Button */
  #close1,#close2,#close3,#close4,#close5,#close0 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close1:hover,
  #close1:focus ,#close2:hover,
  #close2:focus ,#close3:hover,
  #close3:focus ,#close4:hover,
  #close4:focus ,#close5:hover,
  #close5:focus,#close0:hover,#close0:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .tabb{
    margin: auto;
    width: 100%;
  }

  table,th,td{
    padding: 1%;
  border: 1px solid black;
  border-collapse: collapse;
  }