html,body{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
.split{
    height: calc(100%);
    position: fixed;
}
.left{
    width: 20%;
    background-color: rgb(193, 185, 241);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
}

.right{
    width: 76.5%;
    right: 0%;
    padding: 1.5%;
    height: calc(100%);
    overflow-y: scroll;
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: auto auto;
}

.userimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.navbar{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color:  rgb(193, 185, 241);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.btn:hover{
    background-color:  rgb(191, 147, 233);
    border: none;
    padding: 5%;
    margin-left: 4%;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.pagetitle{
    height: 8%;
    width: 95%;
    margin-left: 2%;
    margin-right: 5%;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    display: flex;
}
.pagehead{
    font-weight: bold;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.material-icons { 
    font-size: 10px;
    margin: 2%;
 }

.rating_card{
    margin-left: auto;
    margin-right:auto ;
    margin-bottom:5% ;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    min-height: 400px;
}

.topdet{
    height: 25%;
    width: 100%;
    background-color:  rgb(246, 224, 191);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.botdet{
    height: 55%;
    display: flex;
}
.decision{
    width: 100%;
    height: 25%;
    display: flex;
    background-color: beige;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
}
.det{
    width: 70%;
    margin: auto;
    padding-top: 5px;
    padding-left: 5%;
}
.buttonnlp{
    width: auto;
    margin-top:20%;
    margin-right:20%;
    border: none;
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    padding: 5%;
    cursor: pointer;
}

.txt{
    padding: 5%;
    margin:0%;
}


.ratings{
    width: 50%;
    display: flex;
    flex-direction: column;
 }

 .treatment_rating,.collaboration_rating,.communication_rating,.availability{
    display: flex;
    margin: auto;
 }

 .commentfordoctor{
    display: flex;
    margin: auto;
 }
 .buttoncomment{
    width: auto;
    margin-right:20%;
    border: none;
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    padding: 5%;
    cursor: pointer;
 }
.icon{
    font-size: 20px;
}
.iconselected{
    font-size: 20px;
    color: rgb(129, 129, 238);
}
  
  textarea{
    margin-left:10% ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize: none;
    
  }
  .labelss{
    width: 70%;
    padding-bottom: 6%;
  }
  .lab{
    background-color:  rgb(217, 212, 244);
    margin: 4%;
    border-radius: 5px;
    padding: 3%;
    font-size: 80%;
  }


  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin: auto;
  }
  
  /* The Close Button */
  #close1,#close2,#close3,#close4,#close5 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #close1:hover,
  #close1:focus ,#close2:hover,
  #close2:focus ,#close3:hover,
  #close3:focus ,#close4:hover,
  #close4:focus ,#close5:hover,
  #close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    width: 180px;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(191, 147, 233);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background:  rgb(166, 107, 221);
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
